.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
    margin-top: 40px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 90%;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .logout-btn {
    background: #b5b086;
    color: white;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background: #878572;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #f4f4f9;
  }

  
/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Fix for vertical centering on all screen sizes */
  margin: 0;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #f4f4f9;
  padding: 1rem;
}

/* Container */
.container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Responsive */
@media (max-width: 480px) {
  .container {
    max-width: 90%;
  }
}